spring:
  application:
    name: auth-service

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      uri: http://localhost:8888

  datasource:
    url: jdbc:mysql://localhost:3306/expense_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


jwt:
  secret: my-super-secure-jwt-secret-key-1234567890-abcd
  expiration: 3600000