spring:
  application:
    name: auth-service

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      uri: http://localhost:8888

jwt:
  secret: my-super-secure-jwt-secret-key-1234567890-abcd
  expiration: 3600000