spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      uri: http://localhost:8888

    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: expense-service
          uri: http://localhost:8082
          predicates:
            - Path=/expenses/**

        - id: report-service
          uri: http://localhost:8083
          predicates:
            - Path=/reports/**

