spring:
  application:
    name: expense-service

  datasource:
    url: jdbc:mysql://localhost:3306/expense_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      uri: http://localhost:8888
server:
  port: 8082
